<?xml version="1.0" encoding="UTF-8"?>

<plugin id="cordova-universal-links-plugin" version="1.2.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">

  <name>Universal Links Plugin</name>
  <description>
    Cordova plugin to add in your application support for Universal Links (iOS 9) and Deep Links (Android).
    Basically, open application through the link in the browser.
  </description>
  <license>MIT</license>
  <keywords>cordova,links,universal</keywords>

  <repo>https://github.com/nordnet/cordova-universal-links-plugin</repo>
  <issue>https://github.com/nordnet/cordova-universal-links-plugin/issues</issue>

  <engines>
    <engine name="cordova-ios" version=">=3.8"></engine>
    <engine name="cordova-android" version=">=4"></engine>
  </engines>

<!-- JavaScrip Library Sources -->
  <js-module name="universalLinks" src="www/universal_links.js">
    <clobbers target="universalLinks"/>
  </js-module>

<!-- Hooks -->
  <hook src="hooks/afterPrepareHook.js" type="after_prepare"/>
  <hook src="hooks/beforePluginInstallHook.js" type="before_plugin_install" />

  <platform name="ios">
    <hook src="hooks/iosBeforePrepareHook.js" type="before_prepare" />

<!-- Plugin inclusion in Cordova config.xml  -->
    <config-file parent="/*" target="config.xml">
      <feature name="UniversalLinks">
        <param name="ios-package" value="CULPlugin"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>

<!-- Objective-C Sources -->

    <source-file src="src/ios/CULPlugin.m"/>
    <header-file src="src/ios/CULPlugin.h"/>

    <source-file src="src/ios/AppDelegate+CULPlugin.m"/>
    <header-file src="src/ios/AppDelegate+CULPlugin.h"/>

<!-- sources for JS folder -->
    <source-file src="src/ios/JS/CDVPluginResult+CULPlugin.m" target-dir="JS/"/>
    <header-file src="src/ios/JS/CDVPluginResult+CULPlugin.h" target-dir="JS/"/>

    <source-file src="src/ios/JS/CDVInvokedUrlCommand+CULPlugin.m" target-dir="JS/"/>
    <header-file src="src/ios/JS/CDVInvokedUrlCommand+CULPlugin.h" target-dir="JS/"/>

<!-- sources for Model folder -->
    <source-file src="src/ios/Model/CULHost.m" target-dir="Model/"/>
    <header-file src="src/ios/Model/CULHost.h" target-dir="Model/"/>

    <source-file src="src/ios/Model/CULPath.m" target-dir="Model/"/>
    <header-file src="src/ios/Model/CULPath.h" target-dir="Model/"/>

<!-- sources for Parser folder -->
    <source-file src="src/ios/Parser/CULXmlTags.m" target-dir="Parser/"/>
    <header-file src="src/ios/Parser/CULXmlTags.h" target-dir="Parser/"/>

    <source-file src="src/ios/Parser/CULConfigXmlParser.m" target-dir="Parser/"/>
    <header-file src="src/ios/Parser/CULConfigXmlParser.h" target-dir="Parser/"/>

<!-- sources for Utils folder -->
    <source-file src="src/ios/Utils/NSBundle+CULPlugin.m" target-dir="Utils/"/>
    <header-file src="src/ios/Utils/NSBundle+CULPlugin.h" target-dir="Utils/"/>

  </platform>

  <platform name="android">
<!-- Plugin inclusion in Cordova config.xml -->
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="UniversalLinks">
        <param name="android-package" value="com.nordnetab.cordova.ul.UniversalLinksPlugin"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>

<!-- Java Library Sources -->
<!-- sources for package: com.nordnetab.cordova.ul.js -->
    <source-file src="src/android/com/nordnetab/cordova/ul/js/JSAction.java" target-dir="src/com/nordnetab/cordova/ul/js/"/>

<!-- sources for package: com.nordnetab.cordova.ul.model -->
    <source-file src="src/android/com/nordnetab/cordova/ul/model/JSMessage.java" target-dir="src/com/nordnetab/cordova/ul/model/"/>
    <source-file src="src/android/com/nordnetab/cordova/ul/model/ULHost.java" target-dir="src/com/nordnetab/cordova/ul/model/"/>
    <source-file src="src/android/com/nordnetab/cordova/ul/model/ULPath.java" target-dir="src/com/nordnetab/cordova/ul/model/"/>

<!-- sources for package: com.nordnetab.cordova.ul.parser -->
    <source-file src="src/android/com/nordnetab/cordova/ul/parser/ULConfigXmlParser.java" target-dir="src/com/nordnetab/cordova/ul/parser/"/>
    <source-file src="src/android/com/nordnetab/cordova/ul/parser/XmlTags.java" target-dir="src/com/nordnetab/cordova/ul/parser/"/>

<!-- sources for package: com.nordnetab.cordova.ul -->
    <source-file src="src/android/com/nordnetab/cordova/ul/UniversalLinksPlugin.java" target-dir="src/com/nordnetab/cordova/ul/"/>

  </platform>
</plugin>
